@import "../../styles/main";

.header {
  background-color: $goldPaste;
  
  color: $darkblue;

  &_description {
    font-size: 1.25rem;
  }

  .icon_wrapper {
    display: inline-block;
    background-color: $goldBack2;
    color: gold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
  }
}

.gold {
  color: $darkblue;

  &_section {
    padding: 30px 0;
  }
  .title {
    margin-bottom: 40px;
    display:flex;
    align-items: center;
    .gold_icon {
      display: flex;
      width: 46px;
      height: 46px;
      background-color: $goldBack2;
      margin-right: 10px;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      color: $goldPaste;
    }
  }

  .prev_price {
    padding-top: 5px;
    border-top: 1px solid $graylight;
    display: block;
    margin-bottom: 10px;
  }

  .date {
    font-size: 0.85rem;
    font-style: italic;
  }

  .rate {
    font-weight: bold;
    margin-right: 10px;

    &.green {
      color: green;
    }

    &.red {
      color: red;
    }
  }

  .chart {
    height: 350px;
    margin-top: 40px;
    background-color: $white;
  }

  .title_top {
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: 1px solid $graylight;

    @include media-query-md {
      padding-top: 0;
      border: 0;
    }
  }

  .card_wrapper {
    margin-bottom: 40px;

    @include media-query-md {
      margin-bottom: 0;
    }
  }

  .table_min_max {
    margin-top: 40px;
    font-size: 12px;

    @include media-query-sm {
      font-size: 1rem;
    }

    .min {
      color: red;
      font-weight: bold;
    }

    .max {
      color: green;
      font-weight: bold;
    }

    .date_min_max {
      font-style: italic;
    }
  }

  .amount {
    margin-right: 5px;
  }

 
}
