@import "../../../styles/main";

.wrapper {
  max-width: 1980px;
  margin: 0 auto;
}

.wrapper-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include media-query-lg {
    grid-template-columns: 1fr;
  }
}

.grid {
  padding: 20px 20px;
}

.grey {
  background: $drywhite;
}

.dark_blue {
  background: $pastelBlueEx url('../../../assets/undraw_vault_re_s4my.svg') no-repeat;
  background-size:60%;
  background-position: top right;

  @include media-query-md{
    background-size:25%;
    background-position: bottom right;
  }
}
