 .select {
     height: 40px;
     border-radius: 5px;
     background-color: #FCFCFC;
     width: 100%;
     border: 1px solid #A7ADB6;
     padding: 5px;
     background: #A7ADB6;

     @media (min-width: 992px) {
         min-width: 160px;
         width: auto
     }
 }