@import "../..//styles/main";
.show {
  margin-top: 40px;
  border-top: 1px solid #9fd8df;
  padding-top: 20px;
}

.save {
}

.count {
  font-weight: bold;
}

.user {
  text-align: right;
}

.user_icon {
  color: green;
  margin-right: 10px;
}

.icon_off {
  color: $pastelRed;
}

.icon_on {
  color: $pastelGreenRegular;
}

.title {
}
