@import "../../styles/main";
.alert {
  margin-top: 20px;

  &_span {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.salary {
  margin-bottom: 20px;
  padding-bottom: 20px;

  .formTextCustom {
    padding:0 0 10px;
    color: rgba(33, 37, 41, 0.75);
    margin-bottom: 10px;
    display: inline-block;

    // Add any other styles you need
  }
}

.table {
  margin-top: 20px;

  table {
    border-color: transparent;

    td:nth-last-of-type(1) {
      text-align: right;
    }
  }
}
