@import "../../styles/main";
.alert {
  margin-top:20px;

  &_span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }
}

.table {
  margin-top: 20px;

  table {
    border-color: transparent;

    td:nth-last-of-type(1) {
      text-align: right;
    }
  }
}
