@import "../../../styles/main";

.main {
  padding-top: 40px;

  .chart {
    height: 350px;
  }

  .table_min_max {
    margin-top: 40px;
    font-size: 12px;

    @include media-query-sm {
      font-size: 1rem;
    }
    .min,
    .max {
      font-weight: bold;
    }
    .min {
      color: red;
    }

    .max {
      color: green;
    }

    .date_min_max {
      font-style: italic;
    }
  }
}

.chart_line {
  margin-top: 20px;
}
