//colors
//blue
$blue:#0038FF;
$bluemid:#365486;
$blueLightsea:#7FC7D9;

$darkbluelight:#404959;
$darkblue:#334565;
$bluegrey: #657081;


$violet:#787DF3;
$violetsecond:#9799D4;
//white
$white: #FFF;
$drywhite:#FCFCFC;
//gray
$gray: #A7ADB6;
$graylight:#F5F5F5;
$greyDark:#6C717A;
//brown
$brown:#BF835B;
$brownlight:#A68874;
//red
$red: #dc3545;

$green:#9EC7AA;
$greenlight:#A8BCAE;

$gold:#FFCA00;
////////box shadow
$boxshadow: 1px 5px 27px -21px rgba(66, 68, 90, 1);
$boxshadow2:0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
0 0 0 1px rgb(10 10 10 / 2%);