//colors
//blue
$blue:#0038FF;
$darkbluelight:#404959;
$darkblue:#334565;
//white
$drywhite:#FCFCFC;
//gray
$gray: #A7ADB6;
$graylight:#F5F5F5;
//brown
$brown:#BF835B;
$brownlight:#A68874;
//red
$red: #dc3545;
////////box shadow
$boxshadow: 1px 5px 27px -21px rgba(66, 68, 90, 1);