@import "../../../styles/main";

.table_rates {
  overflow-x: auto;

  &_head {
    background-color: #f8f8f8;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .date {
    font-style: italic;
    font-size: 0.85rem;
  }

  .code {
    background: $darkbluelight;
    color: gold;
    border-bottom: 1px solid;
  }

  .currency,
  .last_date,
  .last_value {
    display: none;

    @include media-query-lg {
      display: table-cell;
    }
  }

  .rate {
    font-size: 0.85rem;
    font-style: italic;

    &.green {
      color: green;
    }
    &.red {
      color: red;
    }
  }
  .bold {
    font-weight: bold;
    color: $darkblue;
  }
}
