@import "../../../styles/main";
.description {
  margin-top: 20px;
  font-style: italic;
  font-size: 0.85rem;
  padding: 10px 0;
  border-top: 1px solid $graylight;
}
.table_rates {
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure the border-radius is applied */

  th {
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 8px;
    background-color: #f2f2f2;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .date {
    font-style: italic;
    font-size: 0.85rem;
  }

  .code {
    background: #BFCFE7;
    color: $darkblue;
    border-bottom: 1px solid #fff;
    font-weight: 700;
    border-left: 1px solid #BFCFE7;
  }

  .currency,
  .last_date,
  .last_value {
    display: none;

    @include media-query-lg {
      display: table-cell;
    }
  }

  .rate {
    font-size: 0.85rem;
    font-style: italic;

    &.green {
      color: green;
    }
    &.red {
      color: red;
    }
  }
  .bold {
    font-weight: bold;
    color: $darkblue;
  }
}
