@import '../../../styles/main';

.table_rates {
  margin-top: 20px;

  .table {
    overflow-x: auto;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px; /* Adjust the value as needed */
    overflow: hidden; /* Ensure the border-radius is applied */
  }

  th {
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 8px;
    background-color: #f2f2f2;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .date {
    font-style: italic;
    font-size: 0.85rem;
  }

  .currency, .rate  {
    display:none;

    @include media-query-sm {
      display: table-cell;
    }
  }

  .rate {
    font-size: 0.85rem;
    font-style: italic;

    &.green {
      color: green;
    }
    &.red {
      color: red;
    }
  }
}
