@import '../../../styles/main';

.table_rates {
    overflow-x: auto;
    th,
    td {
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    .date {
      font-style: italic;
      font-size: 0.85rem;
    }

    .code {
        background:$darkbluelight;
        color:gold
    }

    .currency {
      
    }
  
    .rate {
      font-size: 0.85rem;
      font-style: italic;
  
      &.green {
        color:green
    
      }
      &.red {
        color:red
      }
    }
   
   
  }
  