@import "../../styles/main";

.header {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  margin-bottom: 20px;
  min-height: 150px;
}
.main {
  padding: 40px 0;
  background-color: $drywhite;
  h3 {
    margin-bottom: 30px;
    color:$darkblue;
  }

  input[type="number"],select {
    margin-bottom: 20px;
  }
}
