@import "./../../styles/main";

.header {
  padding-bottom: 40px;

  .title {
    color: $graylight;
  }

  .carousel {
    margin-top: 30px;
  }
}

.main {
  background: $pastelGreenGrey;
  padding: 40px 0;
}

.exchange_wrapper {
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table {
    overflow-x: auto;
  }

  &__count {
    &__ex {
      padding: 0 20px 20px 20px;
    }
  }

  .equal {
    font-size: 20px;
    padding: 10px;
    background: $pastelBlue;
    max-width: 200px;
    color: $pastelRed;
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 8px;
    font-weight: 700;
  }

  .count_pln {
    margin-bottom: 20px;
    border-bottom: 1px solid $darkbluelight;
    padding-bottom: 20px;
  }

  .table_rates {
    margin-top: 20px;
    overflow-x: auto;
    th,
    td {
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(odd) {
      background-color: #f2f2f2;
      height: 37px;
    }

    .date {
      font-style: italic;
      font-size: 0.85rem;
    }

    .rate {
      font-size: 0.85rem;
      font-style: italic;

      &.green {
        color: green;
      }
      &.red {
        color: red;
      }
    }
  }
  h3 {
    color: $darkbluelight;
  }

  .button_wrapper {
    margin-top: 20px;
  }

  .chart_top {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $graylight;
  }
}

header {
  padding: 20px;
}

.chart {
  height: 450px;
  margin-top: 40px;
}

.error {
  color: red;
  border: 1px solid red;
  font-style: italic;
  padding: 5px;
}

.date_chart {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}

.card_wrapper {
  margin-bottom: 40px;
}

.title {
  display: flex;
}

.btn_wrapper {
  display: block;
  margin-top: 20px;
}
.table_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .date {
    font-size: 1rem;
    font-style: normal;
  }
}

.table_wrapper {
  &_title {
    display: flex;
    align-items: center;
  }
}
.wrapper_icon,
.wrapper_icon_change {
  height: 46px;
  width: 46px;
  background-color: $pastelBlue;
  color: $pastelRed;
  display: flex;
  border-radius: 8px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.wrapper_icon_change {
  background-color: $pastelRed;
  color: $pastelGreenDark;
}

.card_custom {
  margin-bottom: 20px;
}
