    @import '../../../styles/color';
    .btn {
        height: 40px;
        background: $blue;
        min-width: 100px;
        border-radius: 5px;
        padding: 8px 16px;
        color: #fff;
        cursor: pointer;
        border: 1px solid $blue;
        &:nth-of-type(1) {
            margin-right: 10px;
            ;
        }
        &:hover {
            opacity: .7;
            transition: .5s;
        }
        &_red {
            background: $red;
            border: $red;
        }
        &_transparent {
            background: transparent;
            color: $blue;
        }
        &_footer {
            background-color: transparent;
            color: $drywhite;
            border-color: $drywhite;
        }
    }