@import "../../styles/main";

.expenses {
  .icon_off,
  .icon_on {
    display: inline-block;
    width: 100%;

    text-align: center;
  }
  .icon_off {
    color: $pastelRed;
  }

  .icon_on {
    color: $pastelGreenRegular;
  }
}

.month {

  margin-top:20px;
}
.achart_wrapper {
  margin-top:20px;
}

.header_title {
  margin-bottom: 20px;
}

.header_span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

  .icon_wrapper {
    height: 40px;
    width: 40px;
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    background-color: #010101;
    align-items: center;
    border-radius: 8px;
  }
}