@import "../../styles/main";

.expenses {
  .icon_off,
  .icon_on {
    display: inline-block;
    width: 100%;

    text-align: center;
  }
  .icon_off {
    color: $pastelRed;
  }

  .icon_on {
    color: $pastelGreenRegular;
  }
}

.month {
  max-width: 150px;
  margin-top:20px;
}
.achart_wrapper {
  margin-top:20px;
}