@import "../../../styles/main";

.details_wrapper {
  padding: 40px 0;

  .title {
    padding-bottom: 20px;
  }

  .label {
    display: inline-block;
    padding: 20px 0;
    font-style: italic;
  }
}
.table {
  position: relative;
  font-size:12px;

  @include media-query-sm {
    font-size: 1rem;;
  }
  tbody {
    td.value {
      font-weight: bold;
      color: $darkbluelight;
      font-style: italic;
    }

  }

  .rate {
    color: $darkblue;
    font-size: 0.85rem;
    font-style: italic;
    &.green,
    &.red {
      font-weight: bold;
    }
    &.green {
      color: green;
    }
    &.red {
      color: red;
    }
  }
  .loader {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.chart {
  height: 350px;
  margin-bottom: 20px;
  padding-bottom: 20px;
 
}

.mid_last {
  
  color:#7FC7D9;
}

.mid_value {
  color:#365486;
}
