@import "../../../styles/main";

.ba_main {
  display: grid;
  grid-template-columns: 1fr;

  @include media-query-md {
    grid-template-columns: 1fr 1fr;
  }
}

.ba_gold {
  span {
    font-weight: bold;
    margin-left: 10px;

  
  }

  .date {
    font-weight: normal;
    font-style: italic;
  }

  .info {
    color: red;
  }
}

.gold_chart_compare {
  height: 300px;
  margin-top: 40px;
}

.chart {
  height: 250px;
}
 .equal {
  font-size:20px;
  padding:10px;
  background: goldenrod;
  border:1px solid $darkbluelight;
  max-width:200px;
  color:#fff;
  display:flex;
  align-items: center;
  height:52px;
}
