@import "../../../styles/main";

.ba_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ba_gold {
  span {
    font-weight: bold;
    margin-left: 10px;
  }

  .info {
    color: red;
  }
}

.gold_chart_compare {
  height: 300px;
  margin-top: 40px;
}

.chart {
  height: 250px;
}
