@import "../../../styles/main";

.ba_main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;

  @include media-query-md {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.title_icon {
  display: flex;
  width:40px;
  height: 40px;
  background: #eec759;
}

.ba_gold {
  span {
    font-weight: bold;
  }

  .date {
    font-weight: normal;
    font-style: italic;
  }

  .info {
    color: red;
  }
  .input {
    display: block;
    border-top: 1px solid $graylight;
  }
}

.gold_chart_compare {
  height: 300px;
  margin-top: 40px;
  width: 100%;
}

.chart {
  height: 250px;
  font-size: small;
}
.equal {
  font-size: 20px;
  padding: 10px;
  background: #eec759;
  max-width: 200px;
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 8px;
}

.chart_wrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $graylight;
}

.btn_section {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.chart_wrapper {
  &_title {
    margin-bottom: 20px;
  }
}
