@import "../../styles/main";

.header {
  height: auto;
  padding: $padding20;
  text-align: left;
  background: url("../../assets/financial.jpg") no-repeat;
  background-position: bottom right;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
  height: auto;

  @include media-query-sm {
    height: 80vh;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: $darkblue;
  }
  .description {
    font-size: 32px;
    margin: 0;

    color: $bluegrey;
    padding-bottom: 20px;

    @include media-query-md {
      max-width: 45%;
    }
  }
}
