@import "../../styles/main";

.header {
  height: calc(100vh - 90px);
  padding: $padding20-40;
  text-align: left;
  background: url("../../assets/undraw_transfer_money_re_6o.svg") no-repeat,
    linear-gradient(90deg, rgba(0, 176, 255, 1) 0%, rgba(247, 248, 250, 1) 73%);
  background-position: bottom right;
  background-size: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;

  @include media-query-sm {
    height: calc(100vh - 90px);
  }

  h1 {
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .description {
    font-size: 38px;
    margin: 0;
    font-weight: 600;
    padding-bottom: 20px;

    @include media-query-md {
      max-width: 45%;
    }
  }
}

.btn_wrapper {
margin-bottom: 20px;
}

.button_header {
  margin-left: 10px;
}
