@import "../../styles/main";

.calculate {
  padding: 20px 0;
  .label {
    font-style: italic;
  }

  .count {
    margin-top: 30px;
    display: inline-block;
    min-width: 180px;
    background-color: $bluegrey;
    color: $drywhite;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.25rem;
    background-color: goldenrod;
  }
}
