.login {
  padding: 0 20px 40px 20px;
}

.login__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.login__wrapper__link {
  text-align: right;
  margin-bottom: 10px;
  font-size: 12px;
}

.login__wrapper h2 {
  border-top: 1px solid #f8f9fa;
  padding-top: 10px;
}
