@import "../../../styles/main";

.chart_wrapper {
  & > button {
    margin-bottom: 20px;
  }
}

.chart {
  height: 350px;
  margin-bottom: 200px;

  @include media-query-sm {
    margin-bottom: 180px;
  }

  .table_min_max {
    margin-top: 10px;
    border-bottom: 1px solid $graylight;

    margin-top: 20px;
    font-size: 12px;

    @include media-query-sm {
      font-size: 1rem;
    }

    .min {
      color: red;
      font-weight: bold;
    }

    .max {
      color: green;
      font-weight: bold;
    }
    .date_min_max {
      font-weight: normal;
      font-style: italic;
      font-size: 12px;

      @include media-query-sm {
        font-size: 1rem;
      }
    }
  }
}
.error {
  color: red;
}

.title {
  margin-bottom: 20px;
}

.code,
.currency {
  color: $darkblue;
}

.code {
  font-weight: bold;
  padding: 5px;
  background: $graylight;
  border-radius: 5px;
}
