@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "../../../styles/main";

.slider {
  margin: 0 auto;
  position: relative;
  top: 15%;
  width: 60%;

  &_item {
    border: 1px solid rgb(218, 220, 224);
    max-width: 90%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;

    .pln {
      font-size: 1rem;
      font-weight: bold;
      font-size: 1.1rem;
      color: $darkblue;
      span {
        font-weight: normal;
        font-size: 1rem;
        color: $darkbluelight;
      }
    }
  }

  .arrow {
    display: flex;
  }

  .rate {
    font-size: 0.85rem;
    font-style: italic;

    &.green {
      color: green;
    }
    &.red {
      color: red;
    }
  }
  .bold {
    font-weight: bold;
    color: $darkblue;
  }
  .date {
    font-style: italic;
    color: $darkbluelight;
  }
}
