@import '../../../styles/main';

.ba_section {
    padding: 20px 20px 20px 20px;
    background-color: $white;
    box-shadow: $boxshadow2;
    border-radius: 8px;
    color:#334565;
    
}

.ba_section-full {
    grid-column: 1/3;
    min-height: 206px;
}

.ba_section_full_mobile {
    grid-column: 1/3;

    @media(min-width:768px) {
        grid-column: auto;
    }
}
.icon_exchange {
    height: 48px;
    width:48px;
    background:#F8EDFF ;
    color:#BFCFE7;
    display:flex;
    border-radius:8px;
    justify-content: center;
    margin-right: 10px;
    align-items: center;;
}
.icon_gold {
    height: 48px;
    width:48px;
    background:#A61F69 ;
    color:#eec759;
    display:flex;
    border-radius:8px;
    justify-content: center;
    margin-right: 10px;;
}

.title {
    display:flex;
    margin-bottom: 40px;
}