@import '../../../styles/main';

.budgetapp {
    background-color: $graylight;
    height: auto;
    padding: $padding20;

    .bapp_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .bapp_btn {
            width: 100%;
        }
    }

    .separator {
        margin-top: 20px;
    }

    .currency {
        font-weight: bold;
    }

    .exchange_item {
        padding-right: 20px;

        &__paragraph {
            background-color: $graylight;
            padding: 2px 0;
            color: $darkblue;
            display: flex;
        }

        .last_value {
            color: $blue;

            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            width: 60px;

            &.red {
                color: red;
            }

            &.green {
                color: green;
            }
        }
    }

    .exchange_item:nth-last-child(1) {
        padding-right: 0;
        padding-left: 20px;
        ;
    }

    .text_bold {
        font-weight: bold;
        background: #334565;
        color: $brownlight;
        padding: 2px 6px;
        margin-right: 8px;
    }

    .last_wrapper {
        display: inline-block;
        width: 150px;
        font-weight: bold;
    }

    .last_date {
        font-size: 12px;
        font-style: italic;
        display: inline-flex;
        align-items: center;
        margin: 0 1rem;

    }
}